.footer{
  padding-top: 10vh;
  li{
    list-style: none;
  }
  h2{
    font-weight: 500;
  }
  .menu-list{
    margin-bottom: 3vh;
    display: flex;
    flex-wrap: wrap;
    li{
      margin-right: 20px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
  .fas{
    height: 2.2rem;
    width: 2.2rem;
    margin-right: 8px;
  }
}