.layout{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  .clearfix{
    width: 100%;
    .left{
      float: left;
      width: 20%;
      position: fixed;
      text-align: right;
      height: 100%;
      overflow-y: scroll;
      top: 0;
      bottom: 0;
      margin-top: 5%;
      margin-bottom: 5%;

      /*スクロールバーの幅*/
      &::-webkit-scrollbar {
        width: 0px;
      }
      /*スクロールバーのレール*/
      &::-webkit-scrollbar-track {
        border-radius: 0px;
        background: #ffffff;
      }
      /*スクロールバーのつまみ*/
      &::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background: grey;
      }
      .pad{
        height: 20vh;
      }
      .siteTitle{
        font-size: 3rem;
        font-weight: 500;
        margin-bottom: 1vh;
      }
      .siteDescription{
        font-size: 1.5rem;
        font-weight: lighter;
        margin-bottom: 6vh;
      }
      .menuHeader{
        font-size: 2.2rem;
        margin-bottom: 2vh;
        font-weight: 500;
      }
      .leftNav{
        margin-bottom: 2vh;
        font-size: 2rem;
      }
      ul{
        li{
          width: 100%;
          margin-bottom: 2vh;
          border-bottom: solid 1px #ffffff;
          :hover{
            border-bottom: solid 1px #222222;
          }
        }
      }
    }
    .right{
      float: left;
      width: 60%;
      margin-left: 30%;
      margin-bottom: 5%;
      .main{
        margin-bottom: 10vh;
      }
    }
  }
}