@import "../partials/basicVals";

.blogPage{
  .blog-list-item{
    margin-bottom: 6vh;
    &:after{
      display: block;
      content: "";
      clear: both;
    }
    a{
      border-bottom: none;
      &:hover{
        border-bottom: none;
      }
    }
    .post-title{
      font-size: 2rem;
      border-bottom: solid 1px $underLineColor;
      padding-bottom: 1vh;
      padding-top: 1vh;
      margin-bottom: 2vh;
      &:hover{
        color: $fontColorLight;
      }
    }
    .title{
      border: none;
      &:hover{
        border-bottom: none!important;
      }
    }
    .posted-date{
      color: #333333;
    }
    .button{
      border-bottom: solid 2px #ffffff;
      &:hover{
        border-bottom: solid 2px #222222;
      }
    }
    p{
      line-height: 1.7;
      font-size: 1.6rem;
    }
    .featured-thumbnail{
      width: 30%;
      margin-right: 2vh;
      float: left;
    }

    a{
      &:hover{
        text-decoration: none;
      }
    }
  }
}