$baseMargin: 25px;

.blogPost{
  p,table,ul,ol,blockquote{
    margin-bottom: $baseMargin;
    line-height: 1.6;
  }
  p{
    line-height: 1.7;
    margin-bottom: $baseMargin;
  }
  table{
    margin-bottom: $baseMargin;
  }
}