.blogPage{
  .blog-list-item{
    margin-bottom: 6vh;
    a{
      border-bottom: none;
      &:hover{
        border-bottom: none;
      }
    }
    .post-title{
      font-size: 2rem;
      font-weight: 600;
      border-bottom: solid 2px #222222;
      padding-bottom: 2vh;
      padding-top: 1vh;
      margin-bottom: 2vh;
    }
    .title{
      border: none;
      &:hover{
        border-bottom: none!important;
      }
    }
    .posted-date{
      color: #333333;
    }
    .button{
      border-bottom: solid 2px #ffffff;
      &:hover{
        border-bottom: solid 2px #222222;
      }
    }
    p{
      line-height: 1.7;
    }
    .featured-thumbnail{
      display: none;
    }

    a{
      &:hover{
        text-decoration: none;
      }
    }
  }
}