$color-quinary: grey;

$fontColorBase: #333333;


$fontColorStrong: #111111;
$fontColorLight: #575757;
$fontColorExLight: #777777;

$linkColor: #910508;
$linkColor: #c25d76;
$linkColor: #ad2b41;
$linkColorHover: #b83e50;
$linkColorHover: #cf5b75;

$underLineColor: #777777;