$color-quinary: grey;

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Noto+Serif+JP|Sawarabi+Mincho&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700|Noto+Serif+JP:200,300,400,500,600,700|Sawarabi+Mincho&display=swap');
// font-family: 'Noto Sans JP', sans-serif;
// font-family: 'Sawarabi Mincho', sans-serif;
// font-family: 'Noto Serif JP', serif;

// Font
html{
  color: #222222;
  // font-family: 'Noto Sans JP', sans-serif;
  font-family: sans-serif;
  // background-color: #fcfcfc;
}

// Typography
// ––––––––––––––––––––––––––––––––––––––––––––––––––
html{
  font-size: 62.5%;
}
body{
  font-size: 1.6em;
}
a{
  text-decoration: none;
  // color: #222222;
  color: #606c76;
  :hover{
    text-decoration: none;
    color: #555555;
  }
}

b,
strong {
  font-weight: bold;
}

p {
  margin-top: 0;
  font-size: 1.7rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // font-weight: 300;
  letter-spacing: -0.1rem;
  // margin-bottom: 2rem;
  margin-top: 0;
  padding: 0;
  display: block;
}

h1 {
  font-size: 2.6rem;
  line-height: 1.2;
}

h2 {
  font-size: 2.4rem;
  line-height: 1.25;
}

h3 {
  font-size: 2.2rem;
  line-height: 1.3;
}

h4 {
  font-size: 2rem;
  letter-spacing: -0.08rem;
  line-height: 1.35;
}

h5 {
  font-size: 1.8rem;
  letter-spacing: -0.05rem;
  line-height: 1.5;
}

h6 {
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 1.4;
}

// Blockquote
// ––––––––––––––––––––––––––––––––––––––––––––––––––
blockquote{
	border-left: .3rem solid $color-quinary;
	margin-left: 0;
	margin-right: 0;
  padding: 1rem 1.5rem;
  
	*:last-child{
    margin-bottom: 0;
  }
}

// Table
// ––––––––––––––––––––––––––––––––––––––––––––––––––
table{
	border-spacing: 0;
	width: 100%;
}

td,
th{
	border-bottom: .1rem solid $color-quinary;
	padding: 1.2rem 1.5rem;
	text-align: left;

	&:first-child{
    padding-left: 0;
  }
	&:last-child{
    padding-right: 0;
  }
}

@media screen and (max-width: 40.0rem){
  table{
    border-spacing: 0;
    display: flex;
    width: 100%;

    thead{
      border-right: solid .1rem $color-quinary;

      td,
      th{
        padding-left: 0;

        &:first-child{
          padding-left: 0;
        }
        &:last-child{
          padding-right: 1.2rem;
        }
      }
    }
    tbody{
      display: flex;
      overflow-x: auto;
      white-space: nowrap;

      tr{
        border-right: solid .1rem $color-quinary;

        &:last-child{
          border-right: none;
        }
      }
    }

    td,
    th{
      display: block;

      &:first-child{
        padding-left: 1.2rem;
      }
      &:last-child{
        padding-right: 1.2rem;
      }
    }
  }
}

// List Style
// ––––––––––––––––––––––––––––––––––––––––––––––––––

ul,
ol{
  list-style-position: inside;
}